VITE_TELEGRAM_BOT_TOKEN="ВАШ_ТОКЕН_БОТА"
VITE_TELEGRAM_GROUP_CHAT_ID="ID_ВАШЕЙ_ТЕЛЕГРАМ_ГРУППЫ"
VITE_TELEGRAM_ADMIN_CHAT_IDS="ID_ПОЛЬЗОВАТЕЛЕЙ_ЧЕРЕЗ_ЗАПЯТУЮ"
VITE_GOOGLE_SHEETS_WEBHOOK_URL="URL_ВАШЕГО_GOOGLE_APPS_SCRIPT_ВЕБХУКА"
